<% layout('layouts/boilerplate') %>

<div class="container my-4">
    <div class="workout-timer-container">
        <%- include('../partials/timer-display', { workout }) %>
        <%- include('../partials/current-exercise') %>
        <%- include('../partials/exercise-list', { exercises: workout.exercises }) %>
    </div>

    <form id="completeForm" action="/workouts/<%= workout._id %>/complete" method="POST" style="display: none;">
        <input type="hidden" name="totalTime" id="totalTimeInput">
    </form>
</div>

<script>
    const workout = <%- JSON.stringify(workout) %>;
</script>

<% additionalJS = ['/js/workout-timer.js'] %>